/*  your css code here. If applicable */
body{
	background-color:rgb(135,206,235)
}
.black{
	background-color:black;
	color:white;
}
.red{
	color:red;
}
.even{
	background-color:white;
	font-size:22px;
	padding:10px;
	width:50%;
}
.odd{
	background-color:gray;
		padding:10px;
	width:50%;
}
.pink{
	background-color:pink;
		padding:10px;
	width:50%;
}